body{
    max-width: 90%;
}






.title{

    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
    background-size:cover; width: 20%;
    background-color: #91C3DD; 
    
    
}

.articolo{
    font-size: 30px;
    
}

.sottotitolo{
    color: grey;
}

#occhiello{
    font-size: 10px;
}
.tbl{
    width: max-content;
    overflow: auto;
    table-layout: fixed;
}
#tb{
    color: aqua;
}

.sotto-immagine{
    font-size: 11px;
}

#Highlighter{
    background-color: yellow;
}

.list{
    text-align: left;
    position: relative;
    left: -25px;
   
}

#riga{
    background-color: #91C3DD;

}

#t-table{
    position: absolute;
    
}

.prima-riga{
    background-color: blue;
    color: white;
    
}

h4{
    color: grey;
}

.lorem{
            margin: 0%;
            position: relative;
}
.prima-img{
    font-size: 17px;
    color: white;
    position: absolute;
    top: 17px;
    left: 40px;
    
}
